<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vendors</title>
        <link rel="stylesheet" href="../static/files/css/bootstrap.min.css">
        <script src="../static/files/js/bootstrap.bundle.min.js"></script>
        <style>
            #form_id {
                margin: 0 auto;
            }
        </style>
    </head>

    <body>
        {%include'navbar.html'%}
        <div class="container-fluid">
            <section class="row">
                <h2 class="text-dark">Create Vendor Account</h2>
                <div class="col-md-5">
                    <span class="text-danger">{{message}}</span>
                    <span class="text-danger">{{success}}</span>
                    <span class="text-danger">{{error}}</span>
                    <form action="/dealears" method="post">
                        <input type="text" placeholder="Your Fistname" name="firstname" class="form-control"><br>
                        <input type="text" placeholder="Your Lastname" name="lastname" class="form-control"><br>
                        <input type="text" name="town" placeholder="Your Town" class="form-control"><br>
                        <input type="password" name="password" placeholder="Your Password" class="form-control"><br>
                        <input type="password" name="confirm_password" placeholder="Confirm Password"
                            class="form-control "><br>
                        <input type="tel" name="phone" placeholder="Enter phone number" class="form-control"><br>
                        <input type="submit" class="btn btn-primary" value="Add vendor">
                    </form>
                </div>
            </section>
        </div>

        <br><br><br>

    </body>

</html>
