<!-- footer -->
<section class="row bg-secondary pt-1 pb-5 pe-5 ps-5">
    <div class="col-md-4">
        <h4 class="text-white">Our Suppliers</h4>
        <img src="../static/files/images/partners/brand1.png" height="50" width="50" alt="">
        <img src="../static/files/images/partners/brand2.png" height="50" width="50" alt="">
        <img src="../static/files/images/partners/brand3.jpeg" height="50" width="50" alt="">
    </div>
    <div class="col-md-4">
        <h4 class="text-white">About Us</h4>
        <b>Mission Statement</b><br>
        <b>Objectives</b>
        <b>Our Products</b>
    </div>
    <div class="col-md-4">
        <h6 class="text-white">Reach us through our social media platforms</h6>
        <b>Tel: +2547876479792</b>
        <b>Email: drinkshub@gmail.com</b>
        <b>Website: https://www/drinkshub.co.ke</b>
        <b>Instagram:@real_icon_22</b>
    </div>
    <center>
        <div class="col-md-12">
        <h6 class="text-white">Developer</h6>
        <b class="text-center">Developed by Wayne Mukusa</b><br>
        <b class="text-center">copyright &copy;2023</b><br>
        <b>Instagram:@real_icon_22</b>
    </center>
    </div>
</section>
<!-- end of footer -->