<section class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-expand-md navbar-light btn-light p-3" style="background-color: rgb(46,38,120);">
            <a href="#" class="navbar-brand"> <img src="../static/files/images/whiskey.jpeg" height="50" width="100"
                    alt=""> Drinks Hub <b class="text-success"></b></a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="/" class="nav-item nav-link text-light">Home</a>
                    <a href="/" class="nav-item nav-link text-light">Blog</a>
                    <a href="/" class="nav-item nav-link text-light">About US</a>
                </div>
                <form class="d-flex">
                  <input class="form-control me-sm-2" type="search" placeholder="Search">
                  <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
                <div class="ms-auto">
                    <!--    TODO Logout-->
                    {%if session['key']%}
                    <p>Welcome! You are now logged in as:{{session['key']}}</p>
                    <a href="/logout" class="text-success">Logout</a>
                    {% else %}
                    <a href="/signup" class="btn btn-outline-success">Create account</a>
                    <a href="/signin" class="btn btn-outline-warning">Login</a>
                    {% endif %}
                </div>
                
            </div>
        </nav>
    </div>
</section>
